ul {
  list-style: none;
}
.view {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.chat-elements {
  height: 100vh;
  float: right;
}
.channel-name {
  text-align: center;
}
.message-form {
  text-align: center;
}
.review-target {
  text-align: center;
}
.grid-content {
  min-height: 25px;
  padding: 0 6px;
}
.user {
  font-weight: bold;
  font-size: 12px;
}
.date {
    font-size: 12px;
}
.msg-list {
  text-align: left;
  /* overflow: scroll; */
  height: 90vh;
}
.message-area {
  width: 100%;
}
.el-button {
  height: 34px;
}
