<div class="canvas-container">
  <canvas class="glcanvas" />
  <script id="image-vs" type="x-shader/x-vertex">#version 300 es
in vec3 vertexPosition;
in vec2 texCoord;
out vec2 textureCoord;

void main() {
    textureCoord = texCoord;
    gl_Position = vec4(vertexPosition, 1.0);
}
  </script>
  <script id="image-fs" type="x-shader/x-fragment">#version 300 es
precision highp float;

uniform sampler2D tex;
in vec2 textureCoord;
out vec4 fragmentColor;

void main() {
    fragmentColor = texture(tex, textureCoord);
}
  </script>

  <script id="line-vs" type="x-shader/x-vertex">#version 300 es
in vec2 linePosition;
in vec4 color;
out vec4 vColor;

void main() {
    vColor = color;
    gl_Position = vec4(linePosition, 0.0, 1.0);
}
  </script>
  <script id="line-fs" type="x-shader/x-fragment">#version 300 es
precision highp float;
in vec4 vColor;
out vec4 fragmentColor;

void main() {
    fragmentColor = vColor;
}
  </script>
</div>

