<el-container class="channel-form">
  <el-main>
    <el-upload
      drag
      action=""
      list-type="picture"
      v-bind:limit="1"
      v-bind:file-list="files"
      v-bind:auto-upload="false"
      v-bind:on-change="fileSelected"
      v-bind:on-remove="fileReset"
      v-bind:on-exceed="filesExceed">
      <i class="el-icon-upload"></i>
      <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
    </el-upload>
    <el-input placeholder="Please input new channel name" v-model="channel" />
    <el-button type="primary" click="ADD_CHANNEL({channel, file})" >
      Create new channel
    </el-button>
  </el-main>
</el-container>