ul {
  list-style: none;
  padding: 0px;
}
.el-main {
  padding: 0px;
}
.msg-list {
  text-align: left;
  height: 100vh;
}
.message-form {
  text-align: center;
}
.user {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
}
.date {
  text-align: right;
  font-size: 12px;
}
