<el-container class="msg-list">
  <el-main>
    <ul>
      <li v-for="msg in messages" v-bind:key="msg.index">
        <message v-bind:message="msg"></message>
      </li>
    </ul>
  </el-main>
  <el-footer>
    <el-row>
      <el-col v-bind:span="18">
        <el-input type="textarea"
                  autosize
                  placeholder="Input new message"
                  v-model="message_value" />
      </el-col>
      <el-col v-bind:span="6">
        <el-button type="primary"
                   v-bind:disabled="!message_value"
                   v-on:click="sendMessage">
          Send
        </el-button>
      </el-col>
    </el-row>
  </el-footer>
</el-container>
