ul {
  list-style: none;
}
.msg-list {
  text-align: left;
  height: 90vh;
}
.message-area {
  width: 100%;
}
.el-button {
  height: 34px;
}
.user {
  font-weight: bold;
  font-size: 14px;
}
.date {
  font-size: 12px;
}

