<div>
  <el-form v-bind:model="form" ref="form" label-width="120px" >
    <el-form-item label="Username" prop="username">
      <el-input placeholder="Input your name"
                v-model="form.username" />
    </el-form-item>
    <el-form-item label="Password" prop="password">
      <el-input type="password"
                placeholder="Input your password"
                v-model="form.password" />
    </el-form-item>
  </el-form>
  <el-col v-bind:span="12">
    <el-button type="primary" v-on:click="login">
      Login
    </el-button>
  </el-col>
  <el-col v-bind:span="12">
    <el-button type="info"
              v-on:click="go_to_register_form">
      Go to Registration
    </el-button>
  </el-col>
</div>
