<div>
  <el-container>
    <el-main class="canvas-container">
      <canvas class="glcanvas" />
    </el-main>
    <el-footer>
      <el-row>
        <el-col v-bind:span="4">
          <el-button type="plain" v-on:click="resetLayer">Reset Layer</el-button>
        </el-col>
        <el-col v-bind:span="4">
          <el-button type="plain" v-on:click="undoLayer">Undo Layer</el-button>
        </el-col>
        <el-col v-bind:span="16">
          <el-button type="primary" v-on:click="saveLayer">Save Layer</el-button>
        </el-col>
      </el-row>
    </el-footer>
  </el-container>
  <script id="image-vs" type="x-shader/x-vertex">#version 300 es
in vec3 vertexPosition;
in vec2 texCoord;
out vec2 textureCoord;

void main() {
    textureCoord = texCoord;
    gl_Position = vec4(vertexPosition, 1.0);
}
  </script>
  <script id="image-fs" type="x-shader/x-fragment">#version 300 es
precision highp float;

uniform sampler2D tex;
in vec2 textureCoord;
out vec4 fragmentColor;

void main() {
    fragmentColor = texture(tex, textureCoord);
}
  </script>

  <script id="line-vs" type="x-shader/x-vertex">#version 300 es
in vec2 linePosition;
in vec4 color;
out vec4 vColor;

void main() {
    vColor = color;
    gl_Position = vec4(linePosition, 0.0, 1.0);
}
  </script>
  <script id="line-fs" type="x-shader/x-fragment">#version 300 es
precision highp float;
in vec4 vColor;
out vec4 fragmentColor;

void main() {
    fragmentColor = vColor;
}
  </script>
</div>
