<div>
  <div>Image: {{ name }}</div>
  <canvas id="glcanvas"/>
  <img src="../../ReviewTarget/assets/icon.jpg" style="display: none" id="review-target-img">
  <p>
    <input type="button" value="Reset" v-on:click="resetLayer">
    <input type="button" value="Save" v-on:click="saveLayer">
  </p>
  <script id="image-vs" type="x-shader/x-vertex">#version 300 es
in vec3 vertexPosition;
in vec4 color;
in vec2 texCoord;
in vec3 drawLinePosition;
out vec2 textureCoord;

void main() {
    textureCoord = texCoord;
    gl_Position = vec4(vertexPosition, 1.0);
}
  </script>
  <script id="image-fs" type="x-shader/x-fragment">#version 300 es
precision highp float;
in vec4 vColor;

uniform sampler2D tex;
in vec2 textureCoord;
out vec4 fragmentColor;

void main() {
    fragmentColor = texture(tex, textureCoord);
}
  </script>

  <script id="line-vs" type="x-shader/x-vertex">#version 300 es
in vec3 vertexPosition;
in vec4 color;
out vec4 vColor;

void main() {
    vColor = color;
    gl_Position = vec4(vertexPosition, 1.0);
}
  </script>
  <script id="line-fs" type="x-shader/x-fragment">#version 300 es
precision highp float;
in vec4 vColor;
out vec4 fragmentColor;

void main() {
    fragmentColor = vColor;
}
  </script>
</div>
