.el-aside a {
  text-decoration: none;
}
.el-container {
  height: 100vh;
}
.el-menu-item-group {
  text-align: left;
}
.el-menu-item {
  height: 40px;
}
.channel-button {
  color: #111111;
  text-decoration:none;
  font-weight: bold;
}
.current-channel {
  color: #ee3322;
  text-decoration:none;
  font-weight: bold;
}

