ul {
  list-style: none;
  padding: 0;
}
.el-aside {
    background-color: #4a3a3a;
    text-align: center;
    width: 150px!important;
}
.el-aside a {
    color: #ffffff;
    text-decoration:none;
    font-weight: bold;
}
.el-container {
    height: 100vh;
}
