<el-container class="channel-list">
  <el-aside>
    <el-menu mode="vertical" v-bind:default-openeds="['2']">
      <el-menu-item index="1">
        <router-link v-bind:to="{name: 'root'}">
          <span class="home-button">Home</span>
        </router-link>
      </el-menu-item>
      <el-submenu index="2">
        <template slot="title">
          <!-- todo: add icon -->
          <span style="font-weight: bold;">Channels</span>
        </template>
        <el-menu-item-group>
          <el-menu-item v-for="channel in channels" v-bind:key="channel" index="channel">
            <router-link v-bind:to="{name: 'channel', params: {channelname: channel}}">
              <span class="channel-button">{{ channel }}</span>
            </router-link>
          </el-menu-item>
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
  </el-aside>
</el-container>
