<el-container class="channel-list">
  <el-aside>
    <el-menu mode="vertical" v-bind:default-openeds="['3']">
      <el-submenu index="2">
        <template slot="title">
          <span style="font-weight: bold;">Menu</span>
        </template>
        <menu-list />
      </el-submenu>
      <el-submenu index="3">
        <template slot="title">
          <!-- todo: add icon -->
          <span style="font-weight: bold;">Channels</span>
        </template>
        <el-menu-item-group>
          <router-link v-for="channel in channels"
                       v-bind:key="channel"
                       v-bind:to="{name: 'chat', params: {channelname: channel}}">
            <el-menu-item index="channel">
              <span class="channel-button">{{ channel }}</span>
            </el-menu-item>
          </router-link>
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
  </el-aside>
</el-container>
