ul {
  list-style: none;
}
.el-button {
  width: 100%;
}
.message-list {
  width: 20%;
}
.review-target {
  text-align: center;
}
.grid-content {
  min-height: 25px;
  padding: 0 6px;
}
.el-header {
  text-align: center;
  height: 20vh;
}
.el-aside {
  width: 150px!important;
}