<div class="register-form">
  <el-upload class="avatar-uploader"
             action=""
             v-bind:auto-upload="false"
             v-bind:show-file-list="false"
             v-bind:on-change="fileSelected">
    <img v-if="file" v-bind:src="file" class="avatar">
    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
  </el-upload>
  <el-form v-bind:model="form" v-bind:rules="rules" ref="form" label-width="120px" >
    <el-form-item label="Username" prop="username">
      <el-input placeholder="Input your name"
                v-model="form.username" />
    </el-form-item>
    <el-form-item label="Password" prop="password">
      <el-input type="password"
                placeholder="Input your password"
                v-model="form.password" />
    </el-form-item>
  </el-form>
  <el-button type="primary"
             v-bind:disabled="!file"
             v-on:click="register('form')" >
    Register
  </el-button>
</div>
