.register-form {
  text-align: center;
}
.avatar-uploader .el-upload {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader-icon {
  border: 2px dashed #d9d9d9;
  border-radius: 6px;
  font-size: 32px;
  color: #8c939d;
  width: 256px;
  height: 256px;
  line-height: 228px;
  text-align: center;
}
.avatar {
  width: 256px;
  height: 256px;
}
.el-button {
  text-align: center;
  width: 100vw;
}
.el-input {
  font-weight: bold;
}
