<div>
  <el-form v-bind:model="form" v-bind:rules="rules" ref="form" label-width="120px" >
    <el-form-item label="Username" prop="username">
      <el-input placeholder="Input your name"
                v-model="form.username" />
    </el-form-item>
    <el-form-item label="Password" prop="password">
      <el-input type="password"
                placeholder="Please your password"
                v-model="form.password" />
    </el-form-item>
  </el-form>
  <el-button type="primary"
             v-on:click="register('form')" >
    Register
  </el-button>
</div>
