<div>
  <el-row v-show="hoverd">
    <el-col v-bind:span="8">
      <el-button class="reply-button" type="primary">
        <div>Reply</div>
      </el-button>
    </el-col>
    <el-col v-bind:span="8">
      <el-button class="edit-button" type="primary">
        <div>Edit</div>
      </el-button>
    </el-col>
    <el-col v-bind:span="8">
      <el-button class="delete-button"
                 type="info"
                 v-on:click="deleteMessage">
        <div>Delete</div>
      </el-button>
    </el-col>
  </el-row>
  <el-row>
    <el-col v-bind:span="6">
      <img class="user-icon" v-bind:src="icon(message.user)" />
    </el-col>
    <el-col v-bind:span="18">
      <el-row>
        <el-col v-bind:span="8">
          <div class="grid-content"> <div class="user">{{ message.user }}</div> </div>
        </el-col>
        <el-col v-bind:span="16">
          <div class="grid-content"> <div class="date">{{ message.date }}</div> </div>
        </el-col>
      </el-row>
      <el-row>
        <el-col v-bind:span="24">
          <div class="grid-content"> <div>{{ message.value }}</div> </div>
        </el-col>
      </el-row>
    </el-col>
  </el-row>
</div>
