.reply-button, .edit-button, .delete-button {
  width: 100%;
  text-align: center;
}
.message-user {
  font-weight: bold;
}
.message-date {
  text-align: right
}
.layer-color {
  color: #ff0000;
  background-color: #ff0000;
  height: 100%;
}